@using ERP.Domain.Core.Entity
@using ERP.Application.AcademicApp.Modules.Interfaces
@inject IGetEvaluationByIdUseCase GetEvaluationByIdUseCase
<h3>AddEditEvaluationMarks</h3>

    <MudCard>
        <MudContainer>
            <MudCardContent Style="height: 400px;  background-color: lightgray;">
                
            </MudCardContent>
        </MudContainer>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Generate Excel</MudButton>
        </MudCardActions>
    </MudCard>


@code {
    [Parameter] 
    public int ModuleOfferingId { get; set; }
    
    [Parameter]
    public int EvaluationId { get; set; }
    
    private Evaluation _evaluation;
    private List<StudentResult> _studentResults = new();
    
    protected override async Task OnInitializedAsync()
    {
        _evaluation = await GetEvaluationByIdUseCase.ExecuteAsync(EvaluationId);
    }
}