@page "/Requests"
<h3>Request_Page</h3>

<MudTabs Outlined="true" Rounded="true" Border="true"
    ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Student Requests" BadgeColor="Color.Dark">
    </MudTabPanel>
    <MudTabPanel Text="Staff Requests">
    </MudTabPanel>
</MudTabs>

@code {
    
}